* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
  background-image:url('todo02.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  }
  
.app {
  background-color: rgba(192, 192, 192, 0.9);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  opacity: 0.9;
   
  }
  
  .todo-app {
    border-radius: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    padding: 20px;
  }
  
  .dash-board {
  background-image:url('gif01.gif');
  background-size: cover;
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
  color: white;
  }
  
  .form-add-todo {
    background-color: #f2f2f2;
    padding: 8px 16px;
    display: flex;
    gap: 8px;
  }
  
  .form-add-todo > input {
    flex-grow: 8;
    font-size: large;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-add-todo > button {
    background-color: #555;
    color: white;
    border: 1px solid #555;
    flex-grow: 2;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .todo-container {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .todo-item {
  background-color: #444;
  padding: 10px;
  justify-content: space-between;
  font-size: large;
  border-radius: 8px;
  color: white;
    
  }
  .todo-item p {
    width: 65%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

  }
  
  .todo-item .btn-group  {
      display: flex;
      gap: 4px;
  }
  
  .todo-item .btn-group button{
    border: 1px solid silver;
    padding:2px 4px;
    cursor: pointer;
  }
  
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #555;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
  }
  .button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #555;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
 
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .todo-item.completed {
    text-decoration: line-through;
    color: gray;
  }